<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora</title>
    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/calculator.css') }}"
    />
</head>

<body>
    <div class="page">

        <h1>Que aplicação rende mais?</h1>

        <div class = "investimento-inicial">

            <span class="titulo">
                Investimento inicial
            </span>

            <input
                type="value"
                placeholder="R$ 0,00"
            >

        </div>

    </div>
    
</body>
</html>